/* css styles */

.reveal a {
  color: #cf3f02;
}
.reveal a:hover {
  color: #ff4f02;
}

/* More specific selectors for footer links */
.reveal .footer a {
  color: #cf3f02 !important;
}

.reveal .footer a:hover {
  color: #cf3f02 !important;
}

/* Progress bar */
.reveal .progress {
  background: rgba(207, 63, 2, 0.2);
}

.reveal .progress span {
  background: #cf3f02;
}

/* Lists */
.reveal ul li::marker {
  color: #cf3f02;
}

/* Blockquotes */
.reveal blockquote {
  border-left: 4px solid #cf3f02;
  padding-left: 1em;
}

/* Text selection */
::selection {
  background: #cf3f02;
  color: #fff;
}

/* Navigation controls */
.controls button {
  color: #cf3f02 !important;
}

.controls button:hover {
  color: #a33302 !important; /* assuming this is your hover color */
}

.controls .controls-arrow:before,
.controls .controls-arrow:after {
  background-color: #cf3f02;
}

.controls .controls-arrow:hover:before,
.controls .controls-arrow:hover:after {
  background-color: #a33302; /* assuming this is your hover color */
}

/* Logo in top-left */
.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: unset !important;
  right: unset !important;
  top: 5px;
  left: 12px;
  height: 60px !important;
  width: 60px !important;
  max-width: unset !important;
  max-height: unset !important;
}
